<section class='ajax'>
    <div class="container">
        <h2>5 : Ajax Method</h2>
        <button class="button1">Get text</button>
        <button class="button2">Get JSON</button>
        <div class='text'></div>
    </div>
</section>