<section class='loggin'>
    <div class="container">
        <h2>1 : Loggin</h2>
        <form action="/welcome" method='post'>
            <div>
                <input type="text" name="mail" placeholder="Veuillez saisir votre mail">
            </div>
            <div>
                <input type="text" name="password" placeholder="Entrez votre mot de passe">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>