<section class='logginDB'>
    <div class="container">
        <h2>3 : Loggin with a Database</h2>
        <form action="/logginDB" method='post'>
            <div>
                <input type="text" name="mail" placeholder="Veuillez saisir votre mail">
            </div>
            <div>
                <input type="text" name="password" placeholder="Entrez votre mot de passe">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>