<section class='params'>
    <div class="container">
        <h2>4 : Understand Params </h2>
        <div>
            <form action="/params" method='get'>
                <button type="submit">Get URL 1</button>
            </form>
            <form action="/params2" method='get'>
                <button type="submit">Get URL 2</button>
            </form>
            <form action="/params3" method='get'>
                <button type="submit">Get URL 3</button>
            </form>
        </div>
    </div>
</section>