<section class='paramLogDB'>
    <div class="container">
        <h2>6 : Loggin with a Database and parameters</h2>
        <form action="/dbParams" method='get'>
            <div>
                <input type="text" name="mail" placeholder="Veuillez saisir votre mail">
            </div>
            <div>
                <input type="text" name="password" placeholder="Entrez votre mot de passe">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>