<section class='recordDB'>
    <div class="container">
        <h2>2 : Record in a Database</h2>
        <form action="/recordDB" method='post'>
            <div>
                <input type="text" name="name" placeholder="Votre nom">
            </div>
            <div>
                <input type="text" name="surName" placeholder="Votre prénom">
            </div>
            <div>
                <input type="text" name="mail" placeholder="Votre courrier électronique">
            </div>
            <div>
                <input type="text" name="password" placeholder="Votre mote de passe">
            </div>
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</section>